@{
    ViewData["Title"] = "Trail";
}
<div class="row">
    <div class="col-md-6">
        <h1>@ViewBag.trail.name</h1>
        <h3>Description</h3>
        <p>@ViewBag.trail.description</p>
        <h3>Trail Length</h3>
        <p>@ViewBag.trail.trail_length</p>
        <h3>Elevation Change</h3>
        <p>@ViewBag.trail.elevation</p>
    </div>
    <div class="col-md-6">
        <div id="map"></div>
        <img src="~/images/map.PNG" alt="" style="width: 400px; height: 400px;">
        <h4>Longitude - @ViewBag.trail.lng</h4>
        <h4>Latitude - @ViewBag.trail.lat</h4>
    </div>
</div>